
body {
    font-family: "Roboto", sans-serif;
    font-weight; 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}

li, ul,
.link, .logo-top, 
.mail, .tel {
    list-style-type: none;
    text-decoration: none;
}

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-top {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #2e2f42;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #ffffff;
    text-align: center;
}